.App {
  text-align: center;
  height: 100%;
  font-family: arial;
}

body {
  background-color: #C5F2E6;
  color: #004C6D;
}

.headerDiv {
 display:inline;
}

.App-logo {
height: 12vh;
font-size: 60px !important;
float:left;
}

.Header {
width: 100%;
position: fixed;
padding: .3rem;
top: 0;
left: 0;
right: 0;
background-color: #D25876;
z-index: 9999 !important;
}

.Menu {
  text-align: justify;
  display: flex;
  float: right;
  letter-spacing: 3px;
  text-decoration: none;
  height: 12vh;
  justify-content: center;
  justify-items: center;
  margin: auto;
  padding-right: 30px;
}

.Menu2 {
  text-align: center;
  align-items: center;
  justify-content: center;
  letter-spacing: 3px;
  margin: 90px auto;
}

.Menu a {
  font-family: arial;
  text-decoration: none;
  color: #f2f3f5;
  margin: auto;
  }
  
.Menu2 a {
  font-family: arial;
  text-decoration: none;
  color: #f2f3f5;
  font-size: 6vw;
/* align-items: center;
text-align: center; */
  z-index: 4000 !important;
  visibility: visible;
  margin: auto;
  /* margin: 40px; */
  /* text-shadow: .3px .5px 1px #004C6D; */
}

.nav-small {
  float: right;
  right: 0;
  padding: 0;
}

@media screen and (max-width: 44em) {
  .nav-small{
    display: block
  }

  .Menu{
    display: none
  }

  input {
    width: 10vh;
  }

  .contactSelect {
    width: 10vh;
    min-height: 35px;
    padding: 10px;
  }

  .Home {
    /* min-height: 20vh; */
  }

  .PopUps {
    /* margin: 20px !important; */
  }

  .form-container {
    width: auto;
    padding: 20px;
  }

  .title {
    font-family: Arial;
  }

  textarea {
    height: 25vw !important;
  }

  .carousel-container {
    height: auto;
  }

  .carousel-item {
    width: auto;
  }
  
  .carouselImage {
    width: auto;
    object-fit: contain;
  }

  .sidebar.active {
    background-color: #0096ca;
    opacity: 0.9;
    margin-top: 8px;
    z-index: 9999;
    /* opacity: 80%; */
  }

}

@media screen and (min-width: 45em) {
  .nav-small{
    display: none
  }
}

h5 {
  padding: 10px;
}

.Home {
  /* min-height: 75vh; */
  height: auto;
  /* padding: 40px auto; */
  margin: 5rem 1rem;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  color: #004C6D;
  text-align: left;
  /* margin: 60px; */
}

.homeContainer {
  min-width: auto;
  overflow: scroll;
  background-color: #f2f3f5;
  border-radius: 20px;
  text-align: left;
  margin-top: 80px;
  padding: 20px;
  z-index: -2;
}

p.homeInfo{
  padding: 25px;
  text-indent: 30px;
  font-size: 15px;
  /* color: #004C6D; */
  /* width: 300px; */
  /* text-align: justify; */
  /* letter-spacing: .10rem; */
}

.PopUps {
  /* min-height: 75vh; */
  /* padding: 40px 0 60px; */
  margin: 5rem 1rem;
  display: flex;
  flex-direction: column;
  color: #004C6D;
  text-align: left;
  justify-content: center;
  align-items: center;
}

.popUpsContainer {
  min-width: auto;
  background-color: #f2f3f5;
  border-radius: 10px;
  text-align: left;
  margin-top: 80px;
  padding: 20px;
}

.About {
  /* min-height: 75vh; */
  /* padding: 40px 0 60px; */
  margin: 5rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* height: 100%; */
  color: #004c6d;
}

.aboutContainer {
  min-width: auto;
  overflow: scroll;
  background-color: #f2f3f5;
  border-radius: 10px;
  text-align: left;
  margin-top: 80px;
  padding: 20px;
  text-align: left;
}

.Faqs {
  /* min-height: 75vh; */
  margin: 5rem 1rem;
  /* padding: 40px 0 60px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* height: 100%; */
  color: #004c6d;
}

.faqsContainer {
  min-width: auto;
  overflow: scroll;
  background-color: #f2f3f5;
  border-radius: 10px;
  text-align: left;
  margin-top: 80px;
  /* padding: 20px; */
  padding: 20px;
  text-align: left;
}

.Contact {
  /* min-height: 75vh; */
  /* padding: 40px 0 60px; */
  margin: 5rem 1rem;
  display: flex;
  flex-direction: column;
  color: #004C6D;
  text-align: left;
  justify-content: center;
  align-items: center;
}

.faqLink {
  /* text-decoration: "none"; */
  color: #0096ca;
  font-weight: bold;
}

.form-container {
  min-width: auto;
  overflow: scroll;
  background-color: #f2f3f5;
  border-radius: 10px;
  text-align: left;
  margin-top: 80px;
  padding: 20px;
  text-align: left;
}

.form-container p {
  font-size: 13px;
}

.form-container li{
  font-size: 12px;
}

.contactSelect {
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  width: auto;
  background-color: #E8E8E8;
  color: #c0cace;
  font-size: 11px;
}

optgroup::selection  { 
  background: red !important;
}

/* .contactSelect optgroup {
  background-color: #f2f3f5 !important;
  color: red !important;
} */

label {
  font-size: 12px;
}

.aboutContainer p,  .faqsContainer p {
  text-indent: 30px;
}

h1 {
text-align: center;
}

h4 {
  color: #0096ca;
}

.title {
  margin-top: 20px !important;
  color: #d25876;
  font-family: Arial;
  letter-spacing: .5rem;
}

button {
  background-color: #c5f2e6;
  outline: none;
  border: none;
  padding: 10px;
  border-radius: 5px;
  width: 80px;
  margin: 20px auto 20px;
}

button:active {
}

 .message {
  border: none;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  min-height: 10vh;
  font-family: arial;
  font-size: 14px;
 }

.form {
  display: flex;
  flex-flow: column wrap;
  padding: 20px 20px 20px 20px;
  border-radius: 10px;
  margin: 0 auto;
  color: #0096ca;
}

.form-container {
  min-width: 175px;
  background-color: #f2f3f5;
  border-radius: 10px;
  text-align: left;
  margin: 80px 0 80px 0;
  padding: 20px;
}

input {
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  width: auto;
  background-color: #E8E8E8;
  color: #004c6d;
}

input::placeholder {
  color: #c0cace;
  font-size: 11px;

}
textarea::placeholder {
  color: #c0cace;
  font-size: 11px;
}

textarea {
  resize: vertical;
  width: auto;
  min-height: 2vh;
  background-color: #E8E8E8;
  color: #004c6d;
  outline: none;
}

.send {
  color: #0096ca;
}

.Footer {
  text-align: center;
  font-family: arial;
  justify-content: center;
  align-items: center;
  left: 0;
  right: 0;
  bottom: 0;
  position:fixed;
  width: 100%;
  margin: 0 auto;
  letter-spacing: 5px;
  font-size: 11px;
  background-color: #C5F2E6;
  color: #004C6D;
  padding: 10px;
}

.insta-logo {
  height: 4vmin;

}

.instalink {
  color: #0096ca;
}

/* ---Sidebar css */

.sidebar{
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: auto;
    /* min-height: 100vh; */
    box-shadow: 0px 4px 8px rgb(0 0 0 / 16%);
    /* background-image: linear-gradient(to bottom, #0096ca, #3eafcf, #6cc6d3, #99ddda, #c5f2e6); */
    background-color: #0096ca;
    position: fixed;
    /* top: 0; */
    /* z-index: 9999; */
    left: -100%;
    transition: 0.5s;
}

.sidebar.active{
    left: 0;
    /* z-index: -3;  */
    visibility: visible;
}

.sd-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
}
.sidebar-overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
    transition: 0.5s;
    opacity: 0;
    visibility: hidden;
}
.sidebar-overlay.active{
    opacity: .1;
    visibility: visible;
}
.sd-body{
    padding: 15px;
    max-height: calc(100vh - 67px);
    overflow-x: hidden;
}
/* .sd-body ul{
    display: inline-block;
    width: 100%;
    margin-bottom: 0;
    padding: 0;
} */
/* .sd-body ul li{
    list-style: none;
    margin-bottom: 8px;
} */
/* .sd-body ul li .sd-link{
    display: inline-block;
    width: 100%;
    padding: 10px 16px;
    background-color: #e5e8ec;
    background-color: red;
    border-radius: 10px;
    cursor: pointer;
    text-decoration: none;
} */

/* ---Carousel css */

.carousel-container {
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
  width: 40vmax;
  height: fit-content;
  margin: 0 auto;
  /* background-color: #D25876; */
}

.carousel-item {
  /* width: 40vw; */
  width: 40vmax;
  display: flex;
  align-items: center;
  justify-content: center;
  height:fit-content;
  /* background-color: #D25876; */
  animation: fadeIn 3s infinite;
  transition: .5s cubic-bezier(0.39, 0.575, 0.565, 1) ease-in-out;
}

@keyframes fadeIn {
  0% { opacity: 0;}
  100% { opacity: 1; }
}

.carouselImage {
  border-radius: 20px;
  width: 40vmax;
  height: auto;
  object-fit: contain;
}